APP_NAME="Fritolay Frontend"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

BACKEND_API_URL=http://localhost:8000

FIREBASE_PROJECT_ID=fritolay-ambato
FIREBASE_API_KEY=your_api_key_here
