rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ubicaciones_camion/{document=**} {
      allow read, write: if true;
    }
    match /camiones/{camionId}/{document=**} {
      allow read, write: if true;
    }
  }
}
